<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=order._id%></h1>
    <p><%=order.totalPrice%></p>
    <p><%=order.status%></p>
    <p><%=productNames[order.products[0].productId]%></p>
    <p><%=order.products[0].quantity%></p>
  </body>
</html>
