<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <title>Customer Cart</title>
  </head>
  <body>
    <h1>Customer Shopping Cart</h1>
    <ul>
      <% customer.shoppingCart.forEach(item => { %>
      <li>
        <!-- Display product details from the shopping cart -->
        <h2>Product Name: <%= item.productId %></h2>
        <p>Quantity: <%= item.quantity %></p>
        <!-- Add more product details as needed -->
      </li>
      <% }); %>
    </ul>
  </body>
</html>
<%- include('../partials/header') %>

  <section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">

          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <div>
              <p class="mb-0">Customer name here</p>
            </div>
          </div>

          <% for (const cartItem of cartItems) { %>
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <img src="<%= cartItem.image %>" class="img-fluid rounded-3" alt="<%= cartItem.name %>">
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2">
                      <%= cartItem.name %>
                    </p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      Minus Quantity Icon
                    </button>

                    <input id="form1" min="0" name="quantity" value="<%= cartItem.quantity %>" type="number"
                      class="form-control form-control-sm" />

                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      Plus Quantity Icon
                    </button>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5 class="mb-0">$<%= cartItem.price %>
                    </h5>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a href="/api/customers/removeFromCart/<%= cartItem._id %>" class="text-danger">Remove Icon</a>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <button type="button" class="btn btn-warning btn-block btn-lg float-md-end">
              Proceed to Pay
            </button>
        </div>
      </div>
    </div>
  </section>

  <%- include('../partials/footer') %>
